<div>
	<% if current_page?(controller: 'dreams') %>
		<% if dream.privacy == false %> 
			<%= image_tag dream.user.avatar.url(:thumb) %>
			<%#= link_to dream.user.name, dream.user %>
			<img src="http://robohash.org/<%= SecureRandom.base64.delete('/+=')[0, 1] %>?size=500x500">
			<h2><%= dream.title %></h2>
			<%= dream.content %>
			<div><%= link_to 'DreamView', dream %></div>
			<div class="border-line margin-top-bottom"></div>
		<% end %>	
	<% else %>	
		<!-- <img src="http://robohash.org/<%= SecureRandom.base64.delete('/+=')[0, 1] %>?size=500x500"> -->
		<img src="http://lorempixel.com/500/500/abstract/<%= SecureRandom.base64.delete('/+=')[0, 1] %>/" alt="image">
		<h2><%= dream.title %></h2>
		<%= dream.content %>
		<% if current_user == dream.user %>  <!-- in partials, the @ sign for dreams is unneccesary -->
			<% if dream.privacy == true %> 
				<div>
					<strong>Private</strong>
				</div>
			<% end %>
		<% end %>
		<div><%= link_to 'DreamView', dream %></div>
		<div class="border-line margin-top-bottom"></div>
	<% end %>
</div>