<% if current_page?(controller: 'dreams') %><!-- Livewire Feed-->
	<% if dream.privacy == false %> 
		<div class="avatar-position">
			<%= image_tag dream.user.avatar.url(:thumb), class: "thumbsize" %>
		</div>
		<% if dream.imagesource == nil %> 
			<img src="http://lorempixel.com/320/320/abstract/<%= SecureRandom.base64.delete('/+=')[0, 1] %>">
		<% else %>
			<img class="imagecrop" src="<%= dream.imagesource %>">
		<% end %>
		<h2><%= dream.title %></h2>
		<div><%= dream.content %></div>
		<div><%= link_to 'DreamView', dream %></div>
	<% end %>	
<% else %>	<!-- Home Feed -->
	<% if dream.imagesource == nil %> 
		<img src="http://lorempixel.com/320/320/abstract/<%= SecureRandom.base64.delete('/+=')[0, 1] %>">
	<% else %>
		<img class="imagecrop" src="<%= dream.imagesource %>">
	<% end %>
	<h2><%= dream.title %></h2>
	<div><%= dream.content %></div>
	<% if current_user == dream.user %>  <!-- in partials, the @ sign for dreams is unneccesary -->
		<% if dream.privacy == true %> 
			<div>
				<strong>Private</strong>
			</div>
		<% end %>
	<% end %>
	<div><%= link_to 'DreamView', dream %></div>
<% end %>