<div class="dreamblock">
	<div class="avatar-position">
		<%= image_tag dream.user.avatar.url(:thumb), class: "thumbsize" unless dream.user.nil? %>
	</div>
	<% if dream.featured %> 
		<img src='http://s3.amazonaws.com/DW-Assets/icon_featured.png' class="featured">
	<% end %>
	<% if dream.imagesource == nil %> 
		<img src="http://lorempixel.com/280/280/abstract/<%= SecureRandom.base64.delete('/+=')[0, 1] %>">
	<% else %>
		<img class="imagecrop" src="<%= dream.imagesource %>">
	<% end %>
	<div class="titlebar">
		<h2>
			<%= dream.title %>
			<div class="float-right dots"><%= link_to '...', dream, :"data-transition" => "slide" %></div>
		</h2>
		<%= truncate(dream.content, length: 142, separator: "...") %>
	</div>
</div>
