<script>_500px.init({sdk_key: '29f8908d90c874398a67d534c33d79f6cb652ec5'});</script>
<%= form_for(@dream) do |f| %>
	<div data-role="page" id="record">
		<div data-role="header" class="headerbar">
			<%= link_to 'Cancel', home_path, rel: "external", class: "navbuttonborder", style: "color: #3890E9" %>
			<h4>Record Dream</h4>
			<a class="ui-btn-right submit navbuttonborder">Save</a>
		</div>
		<% if @dream.errors.any? %>
			<%= render 'shared/error_messages', object: @dream %>
		<% end %>
		<div class="dreamrecord">
			<%= f.text_field :title,   placeholder: "Dream title", style: "border-bottom: 1px dotted #FBA617; padding-bottom: 0px; border-radius: 0;" %>
			<%= f.text_area  :content, placeholder: "Narrate your dream...", style: "padding-top: 0px;" %>
		</div>
		<div class="searchblock">
			<div class="searchbox">
				<a href="#search" data-transition="slide">
					<img src="http://s3.amazonaws.com/DW-Assets/magnify.png" class="magnify"> Search for an image
				</a>
			</div>
			<% if @dream.imagesource %>
				<span id="thumb_show">
					<img src = "<%= @dream.imagesource.gsub('3.jpg', '1.jpg') %>" />
				</span>
			<% else %>
				<span id="thumb_show"></span>
			<% end %>
		</div>
		<div class="slider">
			<small class="privtext">Private dreams are for your eyes only.</small>
			<small class="privtext" style="display: none">Public dreams may be featured on LiveWire!</small>
			<div id="privacy-toggle">
				<select name="dream[privacy]" id="dream_privacy" data-role="slider">
				  <option value="true">Private</option>
				  <option value="false">Public</option>
				</select>
			</div>
		</div>
		<div class="footerpadding">
			<a href="#details" data-transition="slideup">More v</a>
		</div>
	</div>
	<div data-role="page" id="search">
		<div data-role="header" class="headerbar">
			<a href="#" data-rel="back" class="navbuttonborder">Back</a>
			<h4>Select Image</h4>
		</div>	
		<div class="clearfix">
			<p class="searchtext">
				Search for an image that best symbolizes (viusally and emotionally) your dream:
			</p>
			<div class="margin-bottom">
				<div class="ui-grid-a" style="width: 320px; margin: 0px auto;">
	  			<div class="ui-block-a">
						<input id="search-input" type="text" data-inline="true" placeholder="Search eg. red sky or biking" style="border: 1px dotted #FBA617; width: 214px; border-radius: 0; padding-left: 4px;" />
					</div>
					<div class="ui-block-b" style="width: 70px; margin-left: 70px;">
						<a class="search-button" data-role="button" data-inline="true">Search</a>
					</div>
				</div>
			</div>
			<ol id="selectable"></ol>
		</div>
		<div><a class="loadMore"></a></div>
		<div><a class="loadLess"></a></div>
		<input type="hidden" id="counter">
		<%= f.hidden_field :imagesource %>
		<%= f.hidden_field :imageowner %>
	</div>
	<div data-role="page" id="details">
		<div data-role="header" class="headerbar">
			<%= link_to 'Cancel', home_path, rel: "external", class: "navbuttonborder", style: "color: #3890E9" %>
			<h4>Record Dream</h4>
			<a class="ui-btn-right submit navbuttonborder">Save</a>
		</div>	
		<div data-role="fieldcontain">
			<% if @dream.nightmare  %> <% @checked_nm = "checked" %> <% end %>
			<% if @dream.lucid      %> <% @checked_ld = "checked" %> <% end %>
			<% if @dream.recurring  %> <% @checked_rc = "checked" %> <% end %>
			<% if @dream.fragmented %> <% @checked_fg = "checked" %> <% end %>
			<fieldset data-role="controlgroup" data-type="horizontal" data-mini="true" style="width: 220px; margin: 0 auto;">
				<label style="border: none; height: 84px;">
					<input id="dream_nightmare" type="checkbox" value="1" name="dream[nightmare]" style="display: none" <%= @checked_nm %> >
					<img src='http://s3.amazonaws.com/DW-Assets/icon_nightmare.png'>
					<div class="color-gray">Nightmare</div>
				</label>				
				<label style="border: none; height: 84px;">
					<input id="dream_lucid" type="checkbox" value="1" name="dream[lucid]" style="display: none" <%= @checked_ld %> >
					<img src='http://s3.amazonaws.com/DW-Assets/icon_lucid.png'>
					<div class="color-gray">Lucid</div>
				</label>				
				<label style="border: none; height: 84px;">
					<input id="dream_recurring" type="checkbox" value="1" name="dream[recurring]" style="display: none" <%= @checked_rc %> >
					<img src='http://s3.amazonaws.com/DW-Assets/icon_recurring.png'>
					<div class="color-gray">Recurring</div>
				</label>	
				<label style="border: none; height: 84px;">
					<input id="dream_fragmented" type="checkbox" value="1" name="dream[fragmented]" style="display: none" <%= @checked_fg %> >
					<img src='http://s3.amazonaws.com/DW-Assets/icon_fragmented.png'>
					<div class="color-gray">Fragmented</div>
				</label>
			</fieldset>
		</div>
		<div class="field">
			<% if @dream.emotion && @dream.emotion != "" %>
				<% @menu_blank = @dream.emotion %>
			<% else %>
				<% @menu_blank = "Emotion upon waking" %>
			<% end %>
			<div class="recordmargin">
				<%= f.select :emotion, ([["Happy", "Happy"], ["Inspired", "Inspired"], ["Relieved", "Relieved"], ["Afraid", "Afraid"], ["Sad", "Sad"], ["Surprised", "Surprised"], ["Confused", "Confused"],]), :include_blank => @menu_blank %>
			</div>
		</div>
		<div class="field margin-top">
			<%= f.text_area :hashtag, :placeholder => "#characters, #activities, #objects", style: "border: 1px dotted #FBA617; border-radius: 0.6em; padding-left: 4px; height: 80px;" %>
		</div>
		<div class="footerpadding">
			<a href="#record" data-transition="slidedown" style="width: 40px;">Less ^ </a>
		</div>
	</div>
<% end %>
<script type="text/javascript">
	$(function() {	
		$(".search-button").click(function() {
			$(".loadLess").html('');
			$(".loadMore").html('');
			$('#selectable').html('Loading...');
			var search_term = $("#search-input").val();
			_500px.api('/photos/search', {term: search_term, sort: "rating", image_size: 2}, function (response) {
			  if (response.success) {
			    $("#selectable").html('');
			    $.each(response.data.photos, function(i,photo){
			      $("#selectable").append("<li><img src="+photo.image_url+" alt1='"+photo.user.fullname+"'></li>");
			      if (i == 20) return false;
			    });
			    var imgsrc=""; // Selecting the image source
				  $("#selectable li").click(function() {
		  			$(this).addClass("selected").siblings().removeClass("selected");
		  			var imgowner = $('li.selected img').attr('alt1');
		  			var imgsrc   = $('li.selected img').attr('src');
				    var imgsave  = imgsrc.replace('2.jpg', '3.jpg');
				    var imgthumb = imgsrc.replace('2.jpg', '1.jpg');
				    $("#dream_imagesource").val(imgsave);
				    $("#dream_imageowner").val(imgowner);
				    $.mobile.changePage( "#record", {transition: "slide", reverse: true});
				    $("#thumb_show").html('').append("<img src = "+imgthumb+" />");
		  		});
		  		if(response.data.total_pages > 1) {
		  			$(".loadMore").append("<a>Load More > </a>");
		  		}		  		
			  } else {
			  	alert('Sorry request lost (1): ' + response.status + ' - ' + response.error_message);
			  }
			});
		});
	});
</script>
<script type="text/javascript">
	$(function() {	
		var counter = 1;
		$(".loadMore").click(function() {
			var search_term = $("#search-input").val();
			$('#selectable').html('');
			$(".loadLess").html('');
			$(".loadMore").html('');
			$('#selectable').html('Loading...');
			counter += 1;
			$("#counter").text(counter);
			_500px.api('/photos/search', {term: search_term, sort: "rating", image_size: 2, page: counter}, function (response) {
			  if (response.success) {  
			    $("#selectable").html('');
			    $.each(response.data.photos, function(i,photo){
			      $("#selectable").append("<li><img src ="+photo.image_url+" alt1='"+photo.user.fullname+"'></li>");
			      if (i == 20) return false;
			    });		  
				  var imgsrc = ""; // Selecting the image source
				  $("#selectable li").click(function() {
		  			$(this).addClass("selected").siblings().removeClass("selected");
		  			var imgowner = $('li.selected img').attr('alt1');
		  			var imgsrc = $('li.selected img').attr('src');
				    var imgsave = imgsrc.replace('2.jpg', '3.jpg');
				    var imgthumb = imgsrc.replace('2.jpg', '1.jpg');
				    $("#dream_imagesource").val(imgsave);
				    $("#dream_imageowner").val(imgowner);
				    $.mobile.changePage( "#record", {transition: "slide", reverse: true});
				    $("#thumb_show").html('').append("<img src = "+imgthumb+" />");
		  		});
		  		$(".loadMore").append("<a>Load More > </a>");
		  		$(".loadLess").append("<a> < Previous</a>");
		  		if(response.data.current_page == response.data.total_pages) {
						$(".loadMore").html('');
					}
			  } else {
			  	alert('Sorry request lost (2): ' + response.status + ' - ' + response.error_message);
			  }
			}); 
		});
		$(".loadLess").click(function() {
			var search_term = $("#search-input").val();
			$('#selectable').html('');
			$(".loadLess").html('');
			$(".loadMore").html('');
			$('#selectable').html('Loading...');	
			counter -= 1;
			$("#counter").text(counter);
			_500px.api('/photos/search', {term: search_term, sort: "rating", image_size: 2, page: counter}, function (response) {
			  if (response.success) {  
			    $("#selectable").html('');
			    $.each(response.data.photos, function(i,photo){
			      $("#selectable").append("<li><img src ="+photo.image_url+" alt1='"+photo.user.fullname+"'></li>");
			      if (i == 20) return false;
			    });		  
				  var imgsrc = ""; // Selecting the image source
				  $("#selectable li").click(function() {
		  			$(this).addClass("selected").siblings().removeClass("selected");
		  			var imgowner = $('li.selected img').attr('alt1');
		  			var imgsrc = $('li.selected img').attr('src');
				    var imgsave = imgsrc.replace('2.jpg', '3.jpg');
				    var imgthumb = imgsrc.replace('2.jpg', '1.jpg');
				    $("#dream_imagesource").val(imgsave);
				    $("#dream_imageowner").val(imgowner);
				    $.mobile.changePage( "#record", {transition: "slide", reverse: true});
				    $("#thumb_show").html('').append("<img src = "+imgthumb+" />");
		  		});
		  		$(".loadMore").append("<a>Load More > </a>");
		  		$(".loadLess").append("<a> < Previous</a>");  		
					if(response.data.current_page == 1) {
						$(".loadLess").html('');
					}
			  } else {
			  	alert('Sorry request lost (3): ' + response.status + ' - ' + response.error_message);
			  }
			}); 
		});
	});
</script>
<script type="text/javascript">
	$('.submit').unbind('click').click(function(){
    $('form').submit();
    return false;
	});
</script>
<% if @dream.privacy == false %> 
	<script type="text/javascript"> // for edit, updates if the dream was public
		$(".privtext").toggle();
		$('#dream_privacy').val('false').slider('refresh');
	</script>
<% end %>
<script type="text/javascript"> // changes text next to privacy slider
	$("#privacy-toggle").on('slidestop', function() { 
		$(".privtext").toggle();
	});
</script>