<script>_500px.init({sdk_key: '29f8908d90c874398a67d534c33d79f6cb652ec5'});</script>
<link rel="stylesheet" href="http://code.jquery.com/mobile/1.3.2/jquery.mobile-1.3.2.min.css" />
<script src="http://code.jquery.com/mobile/1.3.2/jquery.mobile-1.3.2.min.js"></script>

<%= form_for(@dream, :html => { "data-ajax" => false }) do |f| %>
	<% if @dream.errors.any? %>
		<%= render 'shared/error_messages', object: @dream %>
	<% end %>
	<div data-role="page" id="page1">
		<div data-role="header">
			<a href="#" data-rel="back">Back</a>
			<h4>Record Dream</h4>
			<a class="ui-btn-right submit">Save</a>
		</div>	
		<%= f.text_field :title,   placeholder: "Dream title" %> <br />
		<%= f.text_area  :content, placeholder: "Narrate your dream..." %> <br />
		<div id="thumb_show"></div>
		<div><a href="#page2">Search Image</a></div>
		<%= f.select :privacy, [['Private', true], ['Public', false]] %>
		<div><a href="#page3">More...</a></div>
	</div>
	<div data-role="page" id="page2">
		<div data-role="header">
			<a href="#" data-rel="back">Back</a>
			<h4>Record Dream</h4>
			<a class="ui-btn-right submit">Save</a>
		</div>	
		<div class="clearfix">
			<label>Search your image: </label>
			<input id="search-input" type="text"/>
			<a class="search-button" data-role="button">Search</a>
			<ol id="selectable"></ol>
		</div>
		<div><a class="loadMore"></a></div>
		<div><a class="loadLess"></a></div>
		<input type="hidden" id="counter">
		<%= f.hidden_field :imagesource %>
	</div>
	<div data-role="page" id="page3">
		<div data-role="header">
			<a href="#" data-rel="back">Back</a>
			<h4>Record Dream</h4>
		</div>	
		<div data-role="fieldcontain">
			<fieldset data-role="controlgroup" data-type="horizontal" data-mini="true">
				<label><%= f.check_box :nightmare %> Nightmare </label>				
				<label><%= f.check_box :lucid %> Lucid </label>				
				<label><%= f.check_box :recurring %> Recurring </label>				
				<label><%= f.check_box :fragmented %> Fragmented </label>				
			</fieldset>
		</div>
		<div class="field">
			<% if @dream.emotion %>
				<% @menu_blank = @dream.emotion %>
			<% else %>
				<% @menu_blank = "Select Emotion" %>
			<% end %>
			<%= f.select :emotion, ([["Inspired", "Inspired"], ["Relieved", "Relieved"], ["Afraid", 
				"Afraid"], ["Sad", "Sad"], ["Surprised", "Surprised"]]), :include_blank => @menu_blank %>
		</div>
		<div class="field">
			<%= f.text_area :hashtag, :placeholder => "#characters, #activities, #objects" %>
		</div>
	</div>
<% end %>
<script type="text/javascript">
	$('.submit').click(function(){
    $('form').submit();
    return false;
	});
</script>

<script type="text/javascript">
	$(function() {	
		$(".search-button").click(function() {
			$(".loadLess").html('');
			$(".loadMore").html('');
			$('#selectable').html('Loading...');
			var search_term = $("#search-input").val();
			_500px.api('/photos/search', {term: search_term, sort: "rating", image_size: 2}, function (response) {
			  if (response.success) {  
			    $("#selectable").html('');
			    $.each(response.data.photos, function(i,photo){
			      $("#selectable").append("<li><img src = "+photo.image_url+" /></li>");
			      if (i == 20) return false;
			    });
			    var imgsrc=""; // Selecting the image source
				  $("#selectable li").click(function() {
		  			$(this).addClass("selected").siblings().removeClass("selected");
		  			var imgsrc = $('li.selected img').attr('src');
				    var imgsave = imgsrc.replace('2.jpg', '4.jpg');
				    $("#dream_imagesource").val(imgsave);
				    $.mobile.changePage( "#page1", { transition: "slideup"} );
				    $("#thumb_show").html('').append("<img src = "+imgsrc+" />");
		  		});
		  		if(response.data.total_pages > 1) {
		  			$(".loadMore").append("<a>Load More -> </a>");
		  		}		  		
			  } else {
			  	alert('Sorry request lost (1): ' + response.status + ' - ' + response.error_message);
			  }
			});
		});
	});
</script>
<script type="text/javascript">
	$(function() {	
		var counter = 1;
		$(".loadMore").click(function() {
			var search_term = $("#search-input").val();
			$('#selectable').html('');
			$(".loadLess").html('');
			$(".loadMore").html('');
			$('#selectable').html('Loading...');
			counter += 1;
			$("#counter").text(counter);
			_500px.api('/photos/search', {term: search_term, sort: "rating", image_size: 2, page: counter}, function (response) {
			  if (response.success) {  
			    $("#selectable").html('');
			    $.each(response.data.photos, function(i,photo){
			      $("#selectable").append("<li><img src = "+photo.image_url+" /></li>");
			      if (i == 20) return false;
			    });		  
				  var imgsrc = ""; // Selecting the image source
				  $("#selectable li").click(function() {
		  			$(this).addClass("selected").siblings().removeClass("selected");
		  			var imgsrc = $('li.selected img').attr('src');
				    var imgsave = imgsrc.replace('2.jpg', '4.jpg');
				    $("#dream_imagesource").val(imgsave);
				    $.mobile.changePage( "#page1", { transition: "slideup"} );
				    $("#thumb_show").html('').append("<img src = "+imgsrc+" />");
		  		});
		  		$(".loadMore").append("<a>Load More -> </a>");
		  		$(".loadLess").append("<a> <- Previous</a>");
		  		if(response.data.current_page == response.data.total_pages) {
						$(".loadMore").html('');
					}
			  } else {
			  	alert('Sorry request lost (2): ' + response.status + ' - ' + response.error_message);
			  }
			}); 
		});
		$(".loadLess").click(function() {
			var search_term = $("#search-input").val();
			$('#selectable').html('');
			$(".loadLess").html('');
			$(".loadMore").html('');
			$('#selectable').html('Loading...');	
			counter -= 1;
			$("#counter").text(counter);
			_500px.api('/photos/search', {term: search_term, sort: "rating", image_size: 2, page: counter}, function (response) {
			  if (response.success) {  
			    $("#selectable").html('');
			    $.each(response.data.photos, function(i,photo){
			      $("#selectable").append("<li><img src = "+photo.image_url+" /></li>");
			      if (i == 20) return false;
			    });		  
				  var imgsrc = ""; // Selecting the image source
				  $("#selectable li").click(function() {
		  			$(this).addClass("selected").siblings().removeClass("selected");
		  			var imgsrc = $('li.selected img').attr('src');
				    var imgsave = imgsrc.replace('2.jpg', '4.jpg');
				    $("#dream_imagesource").val(imgsave);
				    $.mobile.changePage( "#page1", { transition: "slideup"} );
				    $("#thumb_show").html('').append("<img src = "+imgsrc+" />");
		  		});
		  		$(".loadMore").append("<a>Load More -> </a>");
		  		$(".loadLess").append("<a> <- Previous</a>");  		
					if(response.data.current_page == 1) {
						$(".loadLess").html('');
					}
			  } else {
			  	alert('Sorry request lost (3): ' + response.status + ' - ' + response.error_message);
			  }
			}); 
		});
	});
</script>
<script type="text/javascript">
	$('#myTab a:first').tab('show'); 
</script>
