<%= form_for(@dream) do |f| %>
	<% if @dream.errors.any? %>
		<%= render 'shared/error_messages', object: @dream %>
	<% end %>
	<div id="upper-toggle">
		<div class="field">
			<%= f.text_field :title, :placeholder => "Dream title" %><br />
			<%= f.text_area :content, :placeholder => "Narrate your dream..." %>
		</div>
		<div class="field">
			<%= f.radio_button :privacy, "true" %>
			<%= f.label(:private_true, "Private") %>
			<%= f.radio_button :privacy, "false" %>
			<%= f.label(:private_false, "Public") %>
		</div>
		<a href="javascript:void(0);" class="toggle">More...</a>
	</div>
	
	<div id="lower-toggle" style="display:none;">
		<div class="field">
			<%= f.check_box :nightmare %>
			<%= label(:nightmare, "Nightmare") %>
			<%= f.check_box :lucid %>
			<%= label(:lucid, "Lucid") %>
			<%= f.check_box :recurring %>
			<%= label(:recurring, "Recurring") %>
			<%= f.check_box :fragmented %>
			<%= label(:fragmented, "Fragmented") %>
		</div>
		<div class="field">
			<% if @dream.emotion %>
				<% @menu_blank = @dream.emotion %>
			<% else %>
				<% @menu_blank = "Select Emotion" %>
			<% end %>
			<%= f.select :emotion, ([["Inspired", "Inspired"], ["Relieved", "Relieved"], ["Afraid", 
				"Afraid"], ["Sad", "Sad"], ["Surprised", "Surprised"]]), :include_blank => @menu_blank %>
		</div>
		<div class="field">
			<%= f.text_area :hashtag, :placeholder => "#characters, #activities, #objects" %>
		</div>
		<a href="javascript:void(0);" class="toggle">Less...</a>
	</div>

	<div class="actions">
		<%= f.submit "Save" %>
	</div>
<% end %>
<script src="/assets/500px.js?body=1" type="text/javascript"></script>
<script>
  $(document).ready(function () {
    _500px.init({
      sdk_key: '29f8908d90c874398a67d534c33d79f6cb652ec5'
    });
  });
  _500px.api('/photos', {feature: 'popular', page: 1}, function (response) {
	  if (response.success) {
		  alert('There are ' + response.data.photos.length + ' photos.');
	  } else {
	  	alert('Unable to complete request: ' + response.status + ' - ' + response.error_message);
	   }
	});
</script>
<script type="text/javascript">
$(function(){
  $('.toggle').click(function(){
     $('#upper-toggle').toggle();
     $('#lower-toggle').toggle(); 
  });
});
</script>
