<% provide(:title, 'LiveWire') %>
<div data-role="page" id="livewire">
	<div data-role="header" class="headerbar headsoup">
		<a href="#menu" data-rel="popup" class="soup">
			<img src='http://s3.amazonaws.com/DW-Assets/icon_menu.png' width="32px">
		</a>
		<img src='http://s3.amazonaws.com/DW-Assets/logo_livewire.png' alt='LiveWire' width="110px" class="logonav">
		<a href="/dreams/new/" rel="external" class="soup">
			<img src='http://s3.amazonaws.com/DW-Assets/icon_record.png' width="28px">
		</a>
	</div>
	<div class="dreamblock-twt">
		<small class="color-orange float-left">Latest from dreamwire...</small>
		<a class="twitter-timeline"  href="https://twitter.com/dreamwireco"  data-widget-id="451532510619373568" width="300" data-chrome="nofooter noheader noborders transparent" data-theme="light" data-border-color="#FBA617" data-link-color="#378EEF" data-tweet-limit="1"></a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
  </div>

	<%= render @dreams %>
	<% if current_user.admin? %> 
		<%= will_paginate @dreams, class: "margin-bottom" %> 
	<% else %>
		<img src='http://s3.amazonaws.com/DW-Assets/minilogo.png' width="40px">
	<% end %>
	<div data-role="popup" id="menu" data-position-to="window" style="background: none;">
		<a href="#" data-rel="back" class="closeicon">
			<img src='http://s3.amazonaws.com/DW-Assets/icon_close.png' width="20px">
		</a>
		<div class="ui-grid-a borderbottom">
			<div class="ui-block-a" style="text-align: left; width: 65px;">
				<a href="<%= user_path(current_user) %>">
					<%= image_tag current_user.avatar.url(:thumb), class: "thumbsize" %>
				</a>	
			</div>
			<div class="ui-block-b" style="text-align: left;">
				<h3><%= current_user.name %></h3>
				<h4><%= current_user.dreams.count %> dreams</h4>
			</div>
		</div>
		<div class="ui-grid-a center">
			<div class="ui-block-a menublock">
				<a href="/home/" rel="external">
					<img src='http://s3.amazonaws.com/DW-Assets/icon_home.png' class="iconsize">
					<div>Home</div>
				</a>
			</div>
			<div class="ui-block-b menublock">
				<a href="#" data-rel="back">
					<img src='http://s3.amazonaws.com/DW-Assets/icon_livewire.png' class="iconsize" style="border: 1px dotted #FBA617; border-radius: 6px;">
					<div class="iconselected">LiveWire</div>
				</a>
			</div>
			<div class="ui-block-a menublock">
				<a href="/users/<%= current_user.id %>/edit/" rel="external">
					<img src='http://s3.amazonaws.com/DW-Assets/icon_settings.png' class="iconsize">
					<div>Settings</div>
				</a>
			</div>
			<div class="ui-block-b menublock">
				<a href="/signout/" rel="nofollow" data-method="delete">
					<img src='http://s3.amazonaws.com/DW-Assets/icon_signout.png' class="iconsize">
					<div>SignOut</div>
				</a>
			</div>
		</div>
		<a href="/info/" rel="external">
			<img src='http://s3.amazonaws.com/DW-Assets/icon_details.png' width="20px">
		</a>
	</div>
</div>