<% provide(:title, 'DreamView') %>
<p id="notice"><%= notice %></p>
<h2>
  <%= @dream.user.name %>
</h2>
<h2>
	<%= @dream.title %>
</h2>
<% if @dream.privacy == true %> 
	<div>
		<strong>Private</strong>
	</div>
<% end %>
<p>
  <%= @dream.content %>
</p>

<!-- URI(request.referer).path -->
<% if URI(request.referer).path.split('/').last == "detail" %>
  <%= link_to "Back", session[:last_show_page] %> |
<% else %>
  <%= link_to 'Back', :back %> |
<% end %>


<%#= link_to 'Back', :back %>
<%= link_to 'Details', {:controller => "dreams", :action => "detail", :id => @dream } %>