<% provide(:title, 'DreamView') %>
<p id="notice"><%= notice %></p>
<h2>
  <%= @dream.user.name %>
</h2>
<h2>
	<%= @dream.title %>
</h2>
<% if @dream.privacy == true %> 
	<div>
		<strong>Private</strong>
	</div>
<% end %>
<p>
  <%= @dream.content %>
</p>

<%= link_to 'Back', dreams_path %> | 
<%= link_to 'Details', dream_details_path(@dream) %>