<% provide(:title, 'Sign In') %>
<div data-role="page" data-url="/signin/"> 
	<div class="background-image">
		<a href="<%= home_path %>" data-rel="back" data-transition="slide">
			<img src='http://s3.amazonaws.com/DW-Assets/landing-logo-blue.png' alt='dreamwire' class="logosize margin-top">
		</a>
		<p class="color-blue">
			wake up, and discover your dreams
		</p>
		<%= form_for(:session, url: sessions_path) do |f| %>
			<div class="margin-top">
				<%=	f.text_field :username_or_email, placeholder: "username or email", autofocus: true, style: "border: 1px solid #aaa; border-radius: 0.6em; padding-left: 4px;" %>
			</div>
			<div class="ui-grid-a" style="margin: 0px auto; width: 262px;">
				<div class="ui-block-a" style="width: 171px;">
					<%=	f.password_field :password, placeholder: "password", style: "border: 1px solid #aaa; border-radius: 0.6em; padding-left: 4px; padding-right: 0;" %>
				</div>
				<div class="ui-block-b" style="width: 83px; margin-left: 8px;">
					<%=	f.submit "Sign In", rel: "external"%>
				</div>
			</div>
			<div class="forgotpw">
				<small><%= link_to "Reset Password?", new_password_reset_path %></small>
			</div>
			<!-- <p> New user? <%#= link_to "Sign up now!", signup_path %> </p> -->
		<% end %>
	</div>
</div>