<div>
	<% if current_page?(controller: 'pins') %>
		<% if pin.privacy == false %> 
			<%= image_tag pin.user.avatar.url(:thumb) %>
			<%#= link_to pin.user.name, pin.user %>
			<h2><%= pin.title %></h2>
			<%= pin.content %>
			<div><%= link_to 'DreamView', pin %></div>
			<div class="border-line margin-top-bottom"></div>
		<% end %>	
	<% else %>	
		<h2><%= pin.title %></h2>
		<%= pin.content %>
		<!-- <small>Posted <%#= time_ago_in_words pin.created_at %> ago.</small> -->
		<% if current_user == pin.user %>  <!-- in partials, the @ sign for pins is unneccesary -->
			<% if pin.privacy == true %> 
				<div>
					<strong>Private</strong>
				</div>
			<% end %>
			<!-- <div>
				<span><%#= link_to 'Edit', edit_pin_path(pin) %></span> |
				<span><%#= link_to 'Destroy', pin, method: :delete, data: { confirm: 'Are you sure?' } %></span>
			</div> -->
		<% end %>
		<div><%= link_to 'DreamView', pin %></div>
		<div class="border-line margin-top-bottom"></div>
	<% end %>
</div>
