<% provide(:title, 'DreamView') %>
<p id="notice"><%= notice %></p>
<h2>
  <%= @pin.user.name %>
</h2>
<h2>
	<%= @pin.title %>
</h2>
<% if @pin.privacy == true %> 
	<div>
		<strong>Private</strong>
	</div>
<% end %>
<p>
  <%= @pin.content %>
</p>

<%= link_to 'Back', pins_path %> | 
<%= link_to 'Details', pin_details_path(@pin) %>