<% provide(:title, 'Account Settings') %>
<%= link_to 'Dreamwire', root_path %>
<h1>Account Settings</h1>
  
<%= form_for(@user) do |f| %>
	<%= render 'shared/error_messages', object: @user %>
	<%=	f.label :name %>
	<%=	f.text_field :name %>

	<div>
		<%= image_tag @user.avatar.url(:thumb) %>
		<%= f.file_field :avatar %>
	</div>
	
	<%=	f.label :username %>
	<%=	f.text_field :username %>

	<%=	f.label :email %>
	<%=	f.text_field :email %>

	<a class="toggle"><%=	f.label "Change Password?" %></a>
	<div id="upper-toggle" style="display:none;">
		<p><small>Enter your new password:</small></p>
		<%=	f.password_field :password %>
	</div>
	<br />
	<div><%=	f.submit "Save", class: "btn btn-primary" %></div>
<% end %>

<script type="text/javascript">
$(function(){
  $('.toggle').click(function(){
     $('#upper-toggle').toggle();
  });
});
</script>