<% provide(:title, 'Account Settings') %>
<div data-role="page" id="settings">
	<%= form_for(@user, :html => {"data-ajax" => false}) do |f| %>
		<div data-role="header" class="headerbar headsoup">
			<a href="/home/" class="soup padding-top">Cancel</a>
			<h4>Settings</h4>
			<a class="ui-btn-right submit_form soup padding-top">Save</a>
		</div>
		<div class="aligncenter">
			<div style="height: 108px;">		
				<%= f.file_field :avatar, style: "color: #02060D;" %>
				<div class="labelright">Residual self image</div>
			</div>
			<div class="center"><%= render 'shared/error_messages', object: @user %></div>
			<div id="file-input" class="changeavatar" onclick="chooseFile();">
				<div class="changeavatarvert">
					<div id="currentavatar"><%= image_tag @user.avatar.url(:thumb), style: "width: 96px;" %></div>
					<div id="newavatar"></div>		
				</div>
			</div>
			<div class="margin-top alignleft">
				<%=	f.text_field :name, style: "border: 1px dotted #FBA617; width: 172px; border-radius: 0; padding-left: 4px;" %>
				<div class="labelright"><%=	f.label :name %></div>
			</div>
			<div class="alignleft">
				<%=	f.text_field :username, style: "border: 1px dotted #FBA617; width: 172px; border-radius: 0; padding-left: 4px;" %>
				<div class="labelright"><%=	f.label :username %></div>
			</div>
			<div class="alignleft">
				<%=	f.text_field :email, style: "border: 1px dotted #FBA617; width: 200px; border-radius: 0; padding-left: 4px;" %>
				<div class="labelright"><%=	f.label :email %></div>
			</div>
			<div class="margin-top">	
				<a class="toggle">Change Password?</a>
				<div id="upper-toggle" style="display:none;">
					<%=	f.password_field :password, style: "border: 1px dotted #FBA617; width: 172px; border-radius: 0; padding-left: 4px;", placeholder: "Enter new password"%>
					<div class="labelright"><%=	f.label :password %></div>
				</div>
			</div>
			<div class="margin-top">
				<a href="mailto:support@dreamwire.co?subject=Contact%20Dreamwire" class="float-left">
				<img src='http://s3.amazonaws.com/DW-Assets/minilogo.png' width="40px">
				<small class="contactbox"><span class="color-orange">Questions or comments?</span> Contact Us.</small>
				</a>
			</div>
		</div>
	<% end %>
	<script type="text/javascript">
		$(function(){
		  $('.toggle').click(function(){
		     $('#upper-toggle').toggle();
		  });
		});
	</script>
	<script type="text/javascript">
		$('.submit_form').click(function(){
	    $('form').submit();
	    return false;
		});
	</script>
	<script> // for hiding file upload box
		function chooseFile() { $("#user_avatar").click(); }
	</script>
	<script> // for showing new thumbnail
		document.getElementById('user_avatar').onchange = function (e) {
			document.getElementById('newavatar').innerHTML = ""; // clear initially
		  loadImage(
	      e.target.files[0],
	      function (img) {
	      	document.getElementById('currentavatar').innerHTML = "";
	      	document.getElementById('newavatar').appendChild(img);
	      },
	      {maxWidth: 100, maxHeight: 100} // Options
		  );
		};
	</script>
</div>