<% provide(:title, 'Account Settings') %>
<%= link_to 'Dreamwire', root_path %>
<h1>Account Settings</h1>

<%= form_for(@user) do |f| %>
	<%= render 'shared/error_messages' %>
	<%=	f.label :name %>
	<%=	f.text_field :name %>

	<div>		
		<%= f.file_field :avatar %>
	</div>

	<%=	f.label :email %>
	<%=	f.text_field :email %>

	<%=	f.label :password %>
	<%=	f.password_field :password %>

	<%=	f.label :password_confirmation, "Confirm Password" %>
	<%=	f.password_field :password_confirmation %>

	<%=	f.submit "Save", class: "btn btn-large btn-primary" %>

<% end %>