<% provide(:title, ' All Users') %>
<%= link_to 'Dreamwire', home_path %>
<h1>All users</h1>

<ul class="users">
	<% User.all.each do |user| %>
		<li class="borderbottom margin-top">
			<%= image_tag user.avatar.url(:thumb) %>
			<div>
				<%= link_to user.name, user %> (<%= user.email %>)
			</div>
			(<%= user.dreams.count %> Dreams)
			<% if current_user.admin? && !current_user?(user) %>
				<%= link_to "delete", user, method: :delete, confirm: "You sure?" %>
			<% end %>
		</li>
	<% end %>
</ul>