<% provide(:title, ' All Users') %>
<%= link_to 'Dreamwire', dreams_path %>
<h3 class="margin-top"><%= User.count %> Users | <%= Dream.count %> Dreams</h3>

<ul style="padding-left: 2px;">
	<% User.all.each do |user| %>
		<li class="borderbottom margin-top">
			<div class="ui-grid-a">
				<div class="ui-block-a" style="margin-right: 8px; text-align: left; width: 60px;">
					<%= image_tag user.avatar.url(:thumb), class: "thumbsize" %>
				</div>
				<div class="ui-block-b" style="text-align: left; width: 250px;">	
					<small><%= link_to user.name, user %> - <%= user.dreams.count %> Dreams</small>
					<small><a href="mailto:<%= user.email %>"><%= user.email %></a> - (<%= user.username %>)</small>
					<div><small>
						Log in <%= time_ago_in_words user.updated_at %> ago - 
						<% if current_user.admin? && !current_user?(user) %>
							<%= link_to "delete?", user, method: :delete, confirm: "You sure?" %>
						<% end %>
					</small></div>
				</div>
			</div>
		</li>
	<% end %>
</ul>