<% provide(:title, ' All Users') %>
<%= link_to 'Dreamwire', home_path, class: "margin-bottom" %>
<h2><%= User.count %> Users | <%= Dream.count %> Dreams</h2>

<ul class="users">
	<% User.all.each do |user| %>
		<li class="borderbottom margin-top">
			<%= image_tag user.avatar.url(:thumb) %>
			<div>
				<%= link_to user.name, user %> (<%= user.email %>)
			</div>
			<%= user.dreams.count %> Dreams | 
			<% if current_user.admin? && !current_user?(user) %>
				<%= link_to "delete?", user, method: :delete, confirm: "You sure?" %>
			<% end %>
		</li>
	<% end %>
</ul>