<% provide(:title, 'Sign Up') %>
<div data-role="header">
	<a href="#" data-rel="back" data-direction="reverse" data-transition="slide">Back</a>
	<h4>Sign Up</h4>
</div>
<%= form_for(@user, :html => {"data-ajax" => false}) do |f| %>
	<%= render 'shared/error_messages', object: @user %>
	<div class="alignsignup">
		<div class="margin-bottom">
			<%=	f.text_field :username, placeholder: "username", style: "border: 1px dotted #FBA617; width: 172px; border-radius: 0; padding-left: 4px;" %>
			<div class="labelright">Be unique.</div>
		</div>	
		<div class="margin-bottom">
			<%=	f.password_field :password, placeholder: "password", style: "border: 1px dotted #FBA617; width: 172px; border-radius: 0; padding-left: 4px;" %>
			<div class="labelright">Be secure.</div>
		</div>
		<div class="margin-bottom">
			<%=	f.text_field :email, placeholder: "email", style: "border: 1px dotted #FBA617; width: 172px; border-radius: 0; padding-left: 4px;" %>
			<div class="labelright">Be notified.</div>
		</div>
		<div>
			<%=	f.text_field :name, placeholder: "full name", style: "border: 1px dotted #FBA617; width: 172px; border-radius: 0; padding-left: 4px;" %>
				<div class="labelright">Be you.</div>
		</div>
		<div style="height: 60px;">		
			<%= f.file_field :avatar, style: "color: #02060D;" %>
			<div class="labelright">Residual self image.</div>
		</div>
		<div class="selectavatar" onclick="chooseFile();">
			<div id="currentavatar"><p class="selectavatarvert">add photo</p></div>
			<div id="newavatar"></div>	
		</div>
		<div class="ui-grid-a">
			<small class="ui-block-a color-gray" style="width: 170px;">
				Your dreams are personal, and stay private by default.
			</small>
			<div class="ui-block-b" style="width: 110px; margin-top: -8px">
				<%=	f.submit "Join" %>
			</div>
		</div>
	</div>
<% end %>
<script> // for hiding file upload box
	function chooseFile() { $("#user_avatar").click(); }
</script>
<script> // for showing new thumbnail
	document.getElementById('user_avatar').onchange = function (e) {
		document.getElementById('newavatar').innerHTML = ""; // clear initially
	  loadImage(
      e.target.files[0],
      function (img) {
      	document.getElementById('currentavatar').innerHTML = "";
      	document.getElementById('newavatar').appendChild(img);
      },
      {maxWidth: 100, maxHeight: 100} // Options
	  );
	};
</script>