<% provide(:title, @user.name) %>
<%= link_to 'Dreamwire', root_path %> | 
<%= link_to 'Settings', edit_user_path(current_user) %> |
<%= link_to 'New Dream', new_pin_path %> |
<%= link_to 'LiveWire', pins_path %> |
<%= link_to "Sign Out", signout_path, method: "delete" %>

<div class="row">
	<aside class="span4">
		<a href="<%= user_path(current_user) %>">
			<%= image_tag @user.avatar.url(:thumb) %>
		</a>
		<h1>	
			<%= @user.name %>
		</h1>
		<h3>	
			<%= @user.username %>
		</h3>
	</aside>
	<div class="span8">
		<% if @user.pins.any? %>
			<h3>My Dreams (<%= @user.pins.count %>)</h3>
		<% end %>
		<ol class="">
			<%= render @user.pins %>
		</ol>	
	</div>
</div>