<% provide(:title, @user.name) %>
<%= link_to 'Dreamwire', root_path %> | 
<%= link_to 'Settings', edit_user_path(current_user) %> |
<%= link_to 'New Dream', new_pin_path %> |
<%= link_to 'LiveWire', pins_path %> |
<%= link_to "Sign Out", signout_path, method: "delete" %>

<div class="row">
	<aside class="span4">
		<a href="<%= user_path(current_user) %>">
			<%= image_tag @user.avatar.url(:thumb) %>
		</a>
		<h1>	
			<%= @user.name %>
		</h1>
	</aside>
	<div class="span8">
		
			<h4>  </h4>
			<ol class="posts">
				
			</ol>	
		
	</div>
</div>