<% provide(:title, @user.name) %>
<div data-role="page" id="home" data-url="/users/<%= @user.id %>/">
	<div data-role="header" class="headerbar">
		<a href="#menu" data-rel="popup" class="navbuttonborder">Menu</a>
		<img src='http://s3.amazonaws.com/DW-Assets/logo-small.png' alt='My Dreams' width="110px">
		<%= link_to 'New', new_dream_path, :"data-ajax" => "false", class: "navbuttonborder", style: "color: #3890E9" %>
	</div>
	<% if flash[:success] %>
    <div class="alert"><%= flash[:success] %></div>
  <% end %>
	<% if !@user.dreams.any? %>
		<div class="introcopy">
			<div class="alignleft"> 	
				<p>A symbolic dream can deliver meaning to your life. Like a great memory, it deserves to be captured.</p>
				<p class="margin-top">It's not easy to record a dream, but we're setting out to change that.</p>
				<p class="margin-top">Dreamwire is a fast and simple way to truly capture your dreams.</p>
				<p class="margin-top">An image can speak volumes over words and it turns out, it's a great way to help you recall and reflect on dreams.</p>
				<p class="margin-top color-orange">Search the most beautiful photographs from across the globe, and match them to your dreams. <%= link_to 'Start here...', new_dream_path, :"data-ajax" => "false" %></p>
			</div>
		</div>
		<img src='http://s3.amazonaws.com/DW-Assets/Zs.png' alt='z Z z zZ' class="Zposition">
		<p class="color-gray"> 0 dreams</p>
	<% end %>
	<% @dreams.each do |dream| %>
		<div class="dreamblock">
			<% if dream.imagesource == nil %> 
				<img src="http://lorempixel.com/320/320/abstract/<%= SecureRandom.base64.delete('/+=')[0, 1] %>">
			<% else %>
				<img class="imagecrop" src="<%= dream.imagesource %>">
			<% end %>
			<div class="titlebar">
				<h2>
					<%= dream.title %>
					<% if current_user == dream.user %>
						<% if dream.privacy == true %> 
							<img src='http://s3.amazonaws.com/DW-Assets/icon_lock.png' alt='Private' width="10px">
						<% end %>
					<% end %>
					<div class="float-right dots"><%= link_to '...', dream, :"data-transition" => "slide" %></div>
				</h2>
				<p><%= dream.content %></p>
			</div>
		</div>	
	<% end %>
	<div data-role="popup" id="menu" data-position-to="window" style="background: none;">	
		<div class="ui-grid-a borderbottom">
			<div class="ui-block-a" style="margin: 12px; text-align: left; width: 42px;">
				<a href="<%= user_path(current_user) %>">
					<%= image_tag @user.avatar.url(:thumb), class: "thumbsize" %>
				</a>	
			</div>
			<div class="ui-block-b" style="margin: 12px; text-align: left;">
				<h2><%= @user.name %></h2>
				<h4><%= @user.dreams.count %> Dreams</h4>
			</div>
		</div>
		<div class="ui-grid-a center">
			<div class="ui-block-a menublock">
				<a href="#" data-rel="back">
					<img src='http://s3.amazonaws.com/DW-Assets/icon_home.png' class="iconsize" style="border: 1px dotted #FBA617; border-radius: 6px;">
					<div>Home</div>
				</a>
			</div>
			<div class="ui-block-b menublock">
				<a href="/dreams/">
					<img src='http://s3.amazonaws.com/DW-Assets/icon_livewire.png' class="iconsize">
					<div>LiveWire</div>
				</a>
			</div>
			<div class="ui-block-a menublock">
				<a href="/users/<%= current_user.id %>/edit/">
					<img src='http://s3.amazonaws.com/DW-Assets/icon_settings.png' class="iconsize">
					<div>Settings</div>
				</a>
			</div>
			<div class="ui-block-b menublock">
				<a rel="nofollow" data-method="delete" href="/signout/">
					<img src='http://s3.amazonaws.com/DW-Assets/icon_signout.png' class="iconsize">
					<div>SignOut</div>
				</a>
			</div>
		</div>
	</div>
</div>