<% provide(:title, @user.name) %>
<div data-role="page" id="home">
	<div data-role="header">
		<a href="#menu">Menu</a>
		<h4>Home</h4>
		<%= link_to 'New', new_dream_path, rel: "external" %>
	</div>
	<% if !@user.dreams.any? %>
		<h3>Welcome to Dreamwire... Record your first dream.</h3>
	<% end %>
	<%= render @user.dreams %>
</div>
<div data-role="page" id="menu">	
	<div class="ui-grid-a">
		<div class="ui-block-a" style="width: 20%;">
			<a href="<%= user_path(current_user) %>">
				<%= image_tag @user.avatar.url(:thumb), class: "thumbsize" %>
			</a>	
		</div>
		<div class="ui-block-b">
			<h2><%= @user.name %></h2>
			<!-- <h3><%= @user.username %></h3> -->
			<h4><%= @user.dreams.count %> Dreams</h4>
		</div>
	</div>
	<div class="ui-grid-a center">
		<div class="ui-block-a menublock">
			<%= link_to 'Home', root_path %>
		</div>
		<div class="ui-block-b menublock">
			<%= link_to 'LiveWire', dreams_path %>
		</div>
		<div class="ui-block-a menublock">
			<%= link_to 'Settings', edit_user_path(current_user) %>
		</div>
		<div class="ui-block-b menublock">
			<%= link_to "Sign Out", signout_path, method: "delete" %>
		</div>
	</div>
</div>
<script type="text/javascript">
		$("#menu").click(function() {
			$.mobile.changePage("#home");
		});
	</script>