<% provide(:title, @user.name) %>
<div data-role="page" id="home" data-url="/users/<%= @user.id %>/">
	<div data-role="header">
		<a href="#menu" data-rel="popup">Menu</a>
		<h4>Home</h4>
		<%= link_to 'New', new_dream_path, :"data-ajax" => "false" %>
	</div>
	<% if !@user.dreams.any? %>
		<h3>Welcome to Dreamwire... Record your first dream.</h3>
	<% end %>
	<% @dreams.each do |dream| %>
		<div class="dreamblock">
			<% if dream.imagesource == nil %> 
				<img src="http://lorempixel.com/320/320/abstract/<%= SecureRandom.base64.delete('/+=')[0, 1] %>">
			<% else %>
				<img class="imagecrop" src="<%= dream.imagesource %>">
			<% end %>
			<div class="titlebar">
				<h2>
					<%= dream.title %>
					<% if current_user == dream.user %>
						<% if dream.privacy == true %> - P <% end %>
					<% end %>
					<div class="float-right dots"><%= link_to '...', dream, :"data-transition" => "slide" %></div>
				</h2>
				<p><%= dream.content %></p>
			</div>
		</div>	
	<% end %>
	<div data-role="popup" id="menu" data-position-to="window">	
		<div class="ui-grid-a borderbottom">
			<div class="ui-block-a" style="margin: 12px; text-align: left; width: 42px;">
				<a href="<%= user_path(current_user) %>">
					<%= image_tag @user.avatar.url(:thumb), class: "thumbsize" %>
				</a>	
			</div>
			<div class="ui-block-b" style="margin: 12px; text-align: left;">
				<h2><%= @user.name %></h2>
				<h4><%= @user.dreams.count %> Dreams</h4>
			</div>
		</div>
		<div class="ui-grid-a center">
			<div class="ui-block-a menublock">
				<a href="#" data-rel="back">Home</a>
			</div>
			<div class="ui-block-b menublock">
				<%= link_to 'LiveWire', dreams_path %>
			</div>
			<div class="ui-block-a menublock">
				<%= link_to 'Settings', edit_user_path(current_user) %>
			</div>
			<div class="ui-block-b menublock">
				<%= link_to "Sign Out", signout_path, method: "delete" %>
			</div>
		</div>
	</div>
</div>