<li id="<%= feed_item.id %>">
	<a href="<%= user_path(current_user) %>">
		<%= image_tag @current_user.avatar.url(:thumb) %>
	</a>	
	<span class="user">
		<%= link_to feed_item.user.name, feed_item.user %>
	</span>
	<span class="content"> <%= feed_item.content %> </span>
	<div class="timestamp">
		Posted <%= time_ago_in_words(feed_item.created_at) %> ago.
	</div>
	<span class="user">
		<%= link_to '...', feed_item %>
	</span>
</li>