<% provide(:title, 'About Dreamwire') %>
<div data-role="page" id="home" data-url="/info/">
	<div data-role="header" class="headerbar">
		<a href="#menu" data-rel="popup" class="navbuttonborder">Menu</a>
		<img src='http://s3.amazonaws.com/DW-Assets/logo-small.png' alt='My Dreams' width="110px">
		<%= link_to 'New', new_dream_path, :"data-ajax" => "false", class: "navbuttonborder", style: "color: #378EEF" %>
	</div>
	<div id="HelpOne" class="intro">
		<p class="margin-top"><span class="color-blue">1</span> - <span>2</span> - <span>3</span></p>
		<div class="ui-grid-a center">
			<div class="ui-block-a" style="height: 50px; width: 50px; padding-top: 12px;">
				<img src='http://s3.amazonaws.com/DW-Assets/icon_eye.png' width="40px">
			</div>
			<div class="ui-block-b margin-bottom" style="width: 250px; text-align: left;">
				<p class="color-orange">Wake up, spend 1-2 minutes with your eyes shut</p>
				<small>Recall dream images, objects, people</small>
			</div>
			<div class="ui-block-a" style="height: 50px; width: 50px; padding-top: 12px;">
				<img src='http://s3.amazonaws.com/DW-Assets/icon_record.png' width="24px">
			</div>
			<div class="ui-block-b margin-bottom" style="width: 250px; text-align: left;">
				<p class="color-orange">Begin writing whatever you remember</p>
				<small>Try and tell a story with your dream</small>
			</div>
			<div class="ui-block-a" style="height: 50px; width: 50px; padding-top: 12px;">
				<img src='http://s3.amazonaws.com/DW-Assets/magnify.png' width="24px"> 
			</div>
			<div class="ui-block-b margin-bottom" style="width: 250px; text-align: left;">
				<p class="color-orange">Search an image that best symbolizes the dream</p>
				<small>Record your emotion and dream type</small>
			</div>
		</div>			
		<a href="#" class="firsttoggle margin-top">Next »</a>
	</div>
	<div id="HelpTwo" style="display: none;" class="intro">
		<p class="margin-top"><span>1</span> - <span class="color-blue">2</span> - <span>3</span></p>
		<div class="ui-grid-a center">
			<div class="ui-block-a" style="height: 50px; width: 50px; padding-top: 12px;">
				<img src='http://s3.amazonaws.com/DW-Assets/icon_home_intro.png' width="36px">
			</div>
			<div class="ui-block-b margin-bottom" style="width: 250px; text-align: left;">
				<p class="color-orange">'Home', where your public and private dreams are saved</p>
				<small>Start a dialogue with your unconscious</small>
			</div>
			<div class="ui-block-a" style="height: 50px; width: 50px; padding-top: 12px;">
				<img src='http://s3.amazonaws.com/DW-Assets/icon_lock_intro.png' width="20px">
			</div>
			<div class="ui-block-b margin-bottom" style="width: 250px; text-align: left;">
				<p class="color-orange">Some dreams are a personal experience</p>
				<small>Private dreams remain for your eyes only</small>
			</div>
			<div class="ui-block-a" style="height: 50px; width: 50px; padding-top: 12px;">
				<img src='http://s3.amazonaws.com/DW-Assets/icon_dots.png' width="36px">
			</div>
			<div class="ui-block-b margin-bottom" style="width: 250px; text-align: left;">
				<p class="color-orange">'DreamView' gives you the full dream scope</p>
				<small>Remember details and edit dreams here</small>
			</div>
		</div>			
		<a href="#" class="secondtoggle">Next »</a>
	</div>
	<div id="HelpThree" style="display: none;" class="intro">
		<p class="margin-top"><span>1 - </span><span>2 - </span><span class="color-blue">3</span></p>
		<div class="ui-grid-a center">
			<div class="ui-block-a" style="height: 50px; width: 50px; padding-top: 12px;">
				<img src='http://s3.amazonaws.com/DW-Assets/icon_livewire_intro.png' width="32px">
			</div>
			<div class="ui-block-b margin-bottom" style="width: 250px; text-align: left;">
				<p class="color-orange">'LiveWire', where public dreams are featured</p>
				<small>Share a great dream, express yourself </small>
			</div>
			<div class="ui-block-a" style="height: 50px; width: 50px; padding-top: 12px;">
				<img src='http://s3.amazonaws.com/DW-Assets/icon_share.png' width="36px">
			</div>
			<div class="ui-block-b margin-bottom" style="width: 250px; text-align: left;">
				<p class="color-orange">Explore dreams from all across the globe</p>
				<small>Discover inspiring dreams and dreamers</small>
			</div>
			<div class="ui-block-a" style="height: 50px; width: 50px; padding-top: 12px;">
				<img src='http://s3.amazonaws.com/DW-Assets/icon_email.png' width="36px">
			</div>
			<div class="ui-block-b margin-bottom" style="width: 250px; text-align: left;">
				<p class="color-orange">Share a great dream with friends or family</p>
				<small>Telling a dream is a nice ice breaker</small>
			</div>
		</div>			
		<a href="#" class="thirdtoggle buttonborder">Got it</a>
	</div>
	<div id="HelpFour" style="display: none;" class="intro">	
		<img src='http://s3.amazonaws.com/DW-Assets/icon_home_intro.png' width="60px" class="margin-top">
		<p><img src='http://s3.amazonaws.com/DW-Assets/Zs.png' alt='z Z z zZ' class="Zposition"></p>
		<p><a href="#" class="helptoggle buttonborder">Replay?</a></p>
	</div>
	<div data-role="popup" id="menu" data-position-to="window" style="background: none;">
		<a href="#" data-rel="back" class="closeicon">
			<img src='http://s3.amazonaws.com/DW-Assets/icon_close.png' width="20px">
		</a>
		<div class="ui-grid-a borderbottom">
			<div class="ui-block-a" style="text-align: left; width: 65px;">
				<a href="<%= user_path(current_user) %>">
					<%= image_tag current_user.avatar.url(:thumb), class: "thumbsize" %>
				</a>	
			</div>
			<div class="ui-block-b" style="text-align: left;">
				<h3><%= current_user.name %></h3>
				<h4><%= current_user.dreams.count %> dreams</h4>
			</div>
		</div>
		<div class="ui-grid-a center">
			<div class="ui-block-a menublock">
				<a href="/home/" rel="external">
					<img src='http://s3.amazonaws.com/DW-Assets/icon_home.png' class="iconsize">
					<div>Home</div>
				</a>
			</div>
			<div class="ui-block-b menublock">
				<a href="/dreams/" rel="external">
					<img src='http://s3.amazonaws.com/DW-Assets/icon_livewire.png' class="iconsize">
					<div>LiveWire</div>
				</a>
			</div>
			<div class="ui-block-a menublock">
				<a href="/users/<%= current_user.id %>/edit/" rel="external">
					<img src='http://s3.amazonaws.com/DW-Assets/icon_settings.png' class="iconsize">
					<div>Settings</div>
				</a>
			</div>
			<div class="ui-block-b menublock">
				<a href="/signout/" rel="nofollow" data-method="delete">
					<img src='http://s3.amazonaws.com/DW-Assets/icon_signout.png' class="iconsize">
					<div>SignOut</div>
				</a>
			</div>
		</div>
		<a href="/info/">
			<img src='http://s3.amazonaws.com/DW-Assets/icon_details.png' width="20px">
		</a>
	</div>
</div>
<script type="text/javascript">
	$(function(){
	  $('.firsttoggle').click(function(){
	     $('#HelpTwo').show('fade');
	     $('#HelpOne').hide();
	  });
	});
	$(function(){
	  $('.secondtoggle').click(function(){
	     $('#HelpThree').show('fade');
	     $('#HelpTwo').hide();
	  });
	});
	$(function(){
	  $('.thirdtoggle').click(function(){
	     $('#HelpFour').show('fade');
	     $('#HelpThree').hide();
	  });
	});
	$(function(){
	  $('.helptoggle').click(function(){
	     $('#HelpOne').show('fade');
	     $('#HelpFour').hide();
	  });
	});
</script>