<% provide(:title, 'About Dreamwire') %>
<div data-role="page" id="home" data-url="/info/">
	<div data-role="header" class="headerbar headsoup">
		<a href="#menu" data-rel="popup" class="soup">
			<img src='http://s3.amazonaws.com/DW-Assets/icon_menu.png' width="32px">
		</a>
		<img src='http://s3.amazonaws.com/DW-Assets/logo-small.png' alt='My Dreams' width="110px" class="logonav">
		<a href="/dreams/new/" data-ajax="false" class="soup">
			<img src='http://s3.amazonaws.com/DW-Assets/icon_record.png' width="28px">
		</a>
	</div>
	<% if flash[:success] %>
    <div class="alert"><%= flash[:success] %></div>
  <% end %>
	<div id="HelpOne" class="intro">
		<p class="margin-top"><span class="color-blue">1</span> - <span>2</span> - <span>3</span></p>
		<div class="ui-grid-a center">
			<div class="ui-block-a" style="height: 50px; width: 50px; padding-top: 6px;">
				<img src='http://s3.amazonaws.com/DW-Assets/icon_eye.png' width="40px">
			</div>
			<div class="ui-block-b margin-bottom" style="width: 250px; text-align: left;">
				<p class="color-orange">After you wake up...</p>
				<small>Spend 1-2 minutes with your eyes shut, recall dream images, objects, people</small>
			</div>
			<div class="ui-block-a" style="height: 50px; width: 50px; padding-top: 6px;">
				<img src='http://s3.amazonaws.com/DW-Assets/icon_record.png' width="24px">
			</div>
			<div class="ui-block-b margin-bottom" style="width: 250px; text-align: left;">
				<p class="color-orange">Write what you remember</p>
				<small>Try and tell a story with your dream, you can always go back and edit</small>
			</div>
			<div class="ui-block-a" style="height: 50px; width: 50px; padding-top: 6px;">
				<img src='http://s3.amazonaws.com/DW-Assets/magnify.png' width="24px"> 
			</div>
			<div class="ui-block-b margin-bottom" style="width: 250px; text-align: left;">
				<p class="color-orange">Search an image</p>
				<small>A beautiful image can inspire, motivate, and help you recall a dream</small>
			</div>
		</div>			
		<a href="#" class="firsttoggle margin-top">Next »</a>
	</div>
	<div id="HelpTwo" style="display: none;" class="intro">
		<p class="margin-top"><span>1</span> - <span class="color-blue">2</span> - <span>3</span></p>
		<div class="ui-grid-a center">
			<div class="ui-block-a" style="height: 50px; width: 50px; padding-top: 6px;">
				<img src='http://s3.amazonaws.com/DW-Assets/icon_home_intro.png' width="36px">
			</div>
			<div class="ui-block-b margin-bottom" style="width: 250px; text-align: left;">
				<p class="color-orange">Home</p>
				<small>Track your public & private dreams here; begin a dialogue with your unconscious</small>
			</div>
			<div class="ui-block-a" style="height: 50px; width: 50px; padding-top: 6px;">
				<img src='http://s3.amazonaws.com/DW-Assets/icon_lock_intro.png' width="20px">
			</div>
			<div class="ui-block-b margin-bottom" style="width: 250px; text-align: left;">
				<p class="color-orange">Private dreams</p>
				<small>Some dreams are personal, private dreams remain for your eyes only</small>
			</div>
			<div class="ui-block-a" style="height: 50px; width: 50px; padding-top: 6px;">
				<img src='http://s3.amazonaws.com/DW-Assets/icon_dots.png' width="36px">
			</div>
			<div class="ui-block-b margin-bottom" style="width: 250px; text-align: left;">
				<p class="color-orange">DreamView</p>
				<small>Get the full dream scope, edit and share a dream from here too</small>
			</div>
		</div>			
		<a href="#" class="secondtoggle">Next »</a>
	</div>
	<div id="HelpThree" style="display: none;" class="intro">
		<p class="margin-top"><span>1 - </span><span>2 - </span><span class="color-blue">3</span></p>
		<div class="ui-grid-a center margin-bottom">
			<div class="ui-block-a" style="height: 50px; width: 50px; padding-top: 6px;">
				<img src='http://s3.amazonaws.com/DW-Assets/icon_livewire_intro.png' width="32px">
			</div>
			<div class="ui-block-b margin-bottom" style="width: 250px; text-align: left;">
				<p class="color-orange">LiveWire</p>
				<small>Enjoy dreams from across the globe. Share a cool dream, express yourself </small>
			</div>
			<div class="ui-block-a" style="height: 50px; width: 50px; padding-top: 6px;">
				<img src='http://s3.amazonaws.com/DW-Assets/icon_share.png' width="36px">
			</div>
			<div class="ui-block-b margin-bottom" style="width: 250px; text-align: left;">
				<p class="color-orange">Explore your dreams</p>
				<small>Like great memories, dreams can inspire you and bring new meaning to life</small>
			</div>
			<div class="ui-block-a" style="height: 50px; width: 50px; padding-top: 6px;">
				<img src='http://s3.amazonaws.com/DW-Assets/icon_gem.png' width="36px">
			</div>
			<div class="ui-block-b margin-bottom" style="width: 250px; text-align: left;">
				<p class="color-orange">Discover yourself</p>
				<small>Only <em>you</em> can unravel your dreams and uncover the hidden value within you</small>
			</div>
		</div>			
		<a href="#" class="thirdtoggle buttonborder">Got it</a>
	</div>
	<div id="HelpFour" style="display: none;" class="intro">	
		<img src='http://s3.amazonaws.com/DW-Assets/icon_home_intro.png' width="60px" class="margin-top">
		<p><img src='http://s3.amazonaws.com/DW-Assets/Zs.png' alt='z Z z zZ' class="Zposition"></p>
		<p><a href="#" class="helptoggle buttonborder">Replay?</a></p>
		<p class="margin-top margin-bottom">-or-</p>
		<p class="margin-top">
			<%= link_to 'Record a dream', new_dream_path, :"data-ajax" => "false", class: "buttonborder"%>
		</p>
	</div>
	<div data-role="popup" id="menu" data-position-to="window" style="background: none;">
		<a href="#" data-rel="back" class="closeicon">
			<img src='http://s3.amazonaws.com/DW-Assets/icon_close.png' width="20px">
		</a>
		<div class="ui-grid-a borderbottom">
			<div class="ui-block-a" style="text-align: left; width: 65px;">
				<a href="<%= user_path(current_user) %>">
					<%= image_tag current_user.avatar.url(:thumb), class: "thumbsize" %>
				</a>	
			</div>
			<div class="ui-block-b" style="text-align: left;">
				<h3><%= current_user.name %></h3>
				<h4><%= current_user.dreams.count %> dreams</h4>
			</div>
		</div>
		<div class="ui-grid-a center">
			<div class="ui-block-a menublock">
				<a href="/home/" rel="external">
					<img src='http://s3.amazonaws.com/DW-Assets/icon_home.png' class="iconsize">
					<div>Home</div>
				</a>
			</div>
			<div class="ui-block-b menublock">
				<a href="/dreams/" rel="external">
					<img src='http://s3.amazonaws.com/DW-Assets/icon_livewire.png' class="iconsize">
					<div>LiveWire</div>
				</a>
			</div>
			<div class="ui-block-a menublock">
				<a href="/users/<%= current_user.id %>/edit/" rel="external">
					<img src='http://s3.amazonaws.com/DW-Assets/icon_settings.png' class="iconsize">
					<div>Settings</div>
				</a>
			</div>
			<div class="ui-block-b menublock">
				<a href="/signout/" rel="nofollow" data-method="delete">
					<img src='http://s3.amazonaws.com/DW-Assets/icon_signout.png' class="iconsize">
					<div>SignOut</div>
				</a>
			</div>
		</div>
		<a href="/info/">
			<img src='http://s3.amazonaws.com/DW-Assets/icon_details.png' width="20px">
		</a>
	</div>
</div>
<script type="text/javascript">
	$(function(){
	  $('.firsttoggle').click(function(){
	     $('#HelpTwo').show('fade');
	     $('#HelpOne').hide();
	  });
	});
	$(function(){
	  $('.secondtoggle').click(function(){
	     $('#HelpThree').show('fade');
	     $('#HelpTwo').hide();
	  });
	});
	$(function(){
	  $('.thirdtoggle').click(function(){
	     $('#HelpFour').show('fade');
	     $('#HelpThree').hide();
	  });
	});
	$(function(){
	  $('.helptoggle').click(function(){
	     $('#HelpOne').show('fade');
	     $('#HelpFour').hide();
	  });
	});
</script>