<% provide(:title, 'Details') %>
<h1>Dream Details</h1>
<p id="notice"><%= notice %></p>
<h2>
  <%= image_tag @pin.user.avatar.url(:thumb) %>
  <%= @pin.user.name %>
</h2>
<h2>
	<%= @pin.title %>
</h2>
<% if @pin.privacy == true %> 
	<div>
		<strong>Private</strong>
	</div>
<% end %>

<%= link_to 'Back', @pin %> | 
<%= link_to 'Edit', edit_pin_path(@pin) %>